.input-container {
  margin-top: 3rem;
  justify-content: center;
  text-align: center;
}
.mobileview {
  justify-content: center;
  text-align: center;
}

.text {
  margin-left: auto;
  margin-right: auto;
}
.input-form {
  /* This bit sets up the horizontal layout */
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-left: 8rem;
  margin-right: 8rem;
  -webkit-box-shadow: 0px 8px 22px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 8px 22px 0px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 8px 22px 0px rgba(0, 0, 0, 0.17);
}

.input-field {
  /* Tell the input to use all the available space */
  flex: 1;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 1rem 0rem 0rem 1rem;
  /* And hide the input's outline, so the form looks like the outline */
  border: none;
}

.input-field:focus {
  /* removing the input focus blue box. Put this on the form if you like. */
  outline: none;
}

.input-button {
  color: #bf616a;
  border: none;
  font-size: 1.2em;
  padding-right: 2rem;
  border-radius: 0px 1rem 1rem 0px;
}
